# Ignore powerpoint presentations
*.ppt*

*.RData
*.Rhistory
*.pdf

# OS junk files
Thumbs.db
*.DS_Store

# Directory in watershed aggregation
Slope_Issue
Slope_Issue/*

# arcswat version backups
general_software
general_software/*

# Only sharing code at this point
# doc
push.bat